<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Blue.Airport.Win.Properties.Settings.BullConnectionString_Release"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\App_Data\Bull.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Blue.Airport.Win.Properties.Settings.BullConnectionString"
        connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\KyleXY\Airport\Airport\Blue.Airport.Win\App_Data\Bull.mdf;Integrated Security=True;User Instance=True"
        providerName="System.Data.SqlClient" />
        <!--D:\KyleXY\Airport\Airport\Blue.Airport.Win\App_Data-->
    </connectionStrings>
</configuration>